@model PagedList<AuthorityOperate>
@using Webdiyer.WebControls.Mvc;
@{
    int i = 1;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        功能管理
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>&nbsp;首页</li>
        <li>系统管理</li>
        <li class="active">功能管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">查询条件</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm("OperateList", "Authority", FormMethod.Get, new { @id = "searchForm" }))
                {
                <!-- form start -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="name">名称</label>
                                    <div class="col-sm-9">
                                        @Html.TextBox("Name", (string)ViewBag.RoleName, new { @id = "name", @class = "form-control", @placeholder = "输入要搜索的角色名" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <input class="btn btn-info" type="submit" value="查询" />
                            </div>
                        </div>
                    </div>
                }
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">功能列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th class="text-center">序号</th>
                                <th class="text-center">菜单名称</th>
                                <th class="text-center">控制器</th>
                                <th class="text-center">行为</th>
                                <th class="text-center">是否可见</th>
                                <th class="text-center">管理</th>
                            </tr>
                            @foreach (var content in Model)
            {
                                <tr>
                                    <td>
                                        @((i++) + Model.PageSize * (Model.CurrentPageIndex - 1))
                                    </td>
                                    <td>
                                        @content.Name
                                    </td>
                                    <td>
                                        @content.Control
                                    </td>
                                    <td>
                                        @content.Action
                                    </td>
                                    <td>
                                        @if (@content.Visible)
                                        {
                                            @Html.Raw("可见")
                                        }
                                        else
                                        {
                                            @Html.Raw("隐藏")
                                        }

                                    </td>
                                    <td>
                                        <a class="authority-operateedit page-role" href="/Authority/OperateEdit?OperateId=@content.AuthorityOperateId">修改</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="pull-right">
                        @Html.Pager(Model, new PagerOptions
                   {
                       PageIndexParameterName = "pagerid",
                       AutoHide = false,
                       ContainerTagName = "ul",
                       FirstPageText = "首页",
                       PrevPageText = "上页",
                       NextPageText = "下页",
                       LastPageText = "尾页",
                       CssClass = "pagination",
                       CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                       DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
                       PagerItemTemplate = "<li>{0}</li>"
                   })
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <div>
    </div>
</section>
<!-- /.content -->
